Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Path conditions:
  project-rules-check: any of: \.py$, but not: ^(tests/|tools/check_project_rules\.py|e2e/)
  auto-benchmark: any of: ^(core/|common/|scripts/run_all_systems_today\.py)
  auto-snapshot: any of: ^(core/system[1-7]\.py|core/final_allocation\.py|common/today_signals\.py)
  run-enhanced-tests: any of: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$

chore: apply pre-commit formatting (black/ruff/isort) across repo
  e2e/streamlit/allocation-display.spec.ts
Due: none

chore: add *.isorted to .gitignore
  .gitignore
Due: none

chore: extend .gitignore with common temp/IDE/build patterns
  .gitignore
Due: none

Enhance screenshot capture tool and article eyecatch generator
  docs/week2_article_public.md
Due: none

Refactor allocation logic and improve error handling in final_allocation.py
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  core/final_allocation.py
  docs/week2_article_public.md
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

記事の文言を微調整し、可読性を向上させるためにスペースを追加
  docs/week2_article_public.md
Due: none

Add paid asset link to week2 article and include downloads zip
  apps/app_today_signals.py
  common/backtest_utils.py
  common/candidates_schema.py
  core/final_allocation.py
  core/system6.py
  docs/downloads/checklist_week2.pdf
  docs/downloads/ci.Dockerfile.example
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/nano_banana_prompts_playwright-ci-30.txt
  docs/downloads/playwright.config.example.ts
  docs/downloads/week2_paid_assets.zip
  docs/week2_article_public.md
  scripts/cache_daily_data.py
  scripts/run_all_systems_today.py
  strategies/system2_strategy.py
  tests/experimental/system7_archive/test_system7_latest_only_path.py
  tests/test_indicators_precompute_part2.py
  tests/test_system5_old.py
  tests/test_system7_latest_only.py
  tools/apply_title_to_image.py
  tools/capture_ui_screenshot.py
  tools/debug_finalize_allocation.py
  tools/generate_article_eyecatch.py
  tools/generate_nano_banana_prompts.py
  tools/resize_to_eyecatch.py
  tools/test_trade_management.py
  tools/verify_ui_jsonl_sync.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Replace placeholder checklist and eyecatch with real assets; regenerate zip
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/week2_paid_assets.zip
Due: none

Generate real checklist_week2.pdf and regenerate assets zip
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
Due: none

Add checklist PDF generator script
  tools/generate_checklist_pdf.py
Due: project-rules-check

Improve checklist PDF: embed Japanese-capable font and regenerate assets zip
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
  tools/generate_checklist_pdf.py
Due: project-rules-check

Add new checklist assets and update CI configuration for Playwright
  core/final_allocation.py
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
  temp_unpack_week2/checklist_week2.pdf
  temp_unpack_week2/ci.Dockerfile.example
  temp_unpack_week2/eyecatch_week2_1280x670.png
  temp_unpack_week2/eyecatch_week2_titleband.png
  temp_unpack_week2/nano_banana_prompts_playwright-ci-30.txt
  temp_unpack_week2/playwright.config.example.ts
  tools/generate_checklist_pdf.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Polish checklist PDF layout: larger checkbox and spacing; regenerate zip
  core/final_allocation.py
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
  tools/generate_checklist_pdf.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

画像ファイルの更新とPlaywright設定ファイルのコードスタイルを統一
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/playwright.config.example.ts
  docs/week2_article_public.md
  e2e/streamlit/allocation-display.spec.ts
  e2e/streamlit/signals-display.spec.ts
  tools/debug_finalize_allocation.py
Due: project-rules-check

Add note preview link to week2 article
  docs/week2_article_public.md
Due: none

Improve CTA and add file metadata for paid assets
  docs/week2_article_public.md
Due: none

Copilot instructions: 更新されたエントリポイントとデータフローの概要を簡潔に整理し、必須ルールや開発コマンドを明確化
  .github/copilot-instructions.md
Due: none

Refactor system7.py for improved logging and diagnostics; add new diagnostic snapshots
  .gitignore
  config/config.yaml
  core/system1.py
  core/system2.py
  core/system3.py
  core/system4.py
  core/system5.py
  core/system6.py
  core/system7.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_215752.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_220631.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_222422.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_225126.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_225350.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_232023.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
  scripts/verify_bulk_accuracy.py
  strategies/base_strategy.py
Due: project-rules-check, auto-benchmark, auto-snapshot

feat: Implement daily automated update system with health checks
  apps/app_today_signals.py
  common/today_filters.py
  common/utils_spy.py
  core/system1.py
  core/system3.py
  core/system6.py
  docs/operations/daily_scheduler_setup.md
  docs/operations/implementation_report_20251008.md
  scripts/run_all_systems_today.py
  scripts/scheduler_update_with_healthcheck.py
  scripts/setup_daily_scheduler_admin.ps1
  scripts/update_from_bulk_last_day.py
  strategies/system1_strategy.py
Due: project-rules-check, auto-benchmark, auto-snapshot

Refactor code for improved readability and maintainability in cache_manager.py, cache_validation.py, and update_from_bulk_last_day.py
  common/cache_manager.py
  common/cache_validation.py
  scripts/update_from_bulk_last_day.py
Due: project-rules-check, auto-benchmark

新しいワークスペース設定ファイルを追加
  core/quant_trading_system.code-workspace
Due: auto-benchmark

feat: Implement target date prioritization with safe fallback in candidate generation for System1 and System3
  .github/copilot-instructions.md
  .github/instructions/codacy.instructions.md
  common/trdlist_validator.py
  core/system1.py
  core/system3.py
  data/universe_auto.txt
  docs/README.md
  docs/technical/environment_variables.md
  docs/technical/spy_utils.md
  scripts/run_all_systems_today.py
  test_s3_quick.py
  test_s3_topoff.py
Due: project-rules-check, auto-benchmark, auto-snapshot

Add Bulk API data quality verification and scheduled update scripts
  docs/BULK_API_GUIDE.md
  scripts/scheduled_daily_update.py
  scripts/verify_bulk_accuracy.py
Due: project-rules-check

chore(codacy): ensure excludes present in HEAD
  .codacy.yml
Due: none

Refactor imports and improve code formatting in run_all_systems_today.py
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark

Refactor update_from_bulk_last_day.py: Enhance performance and add new features
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_234842.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_235314.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
Due: project-rules-check, auto-benchmark

Refactor top_n setting logic in System4 and System5 strategies
  common/cache_manager.py
  scripts/run_all_systems_today.py
  strategies/system4_strategy.py
  strategies/system5_strategy.py
Due: project-rules-check, auto-benchmark

Refactor code structure and improve logging in today signals application
  .vscode/tasks.json
  apps/app_today_signals.py
  common/today_data_loader.py
  scripts/run_all_systems_today.py
  scripts/run_today_ui.py
Due: project-rules-check, auto-benchmark

Update BULK_API_GUIDE.md: Enhance task scheduling instructions for CMD and PowerShell
  docs/BULK_API_GUIDE.md
Due: none

Refactor imports and improve code formatting in run_all_systems_today.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_060644.json
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark

Refactor rolling indicator computation in update_from_bulk_last_day.py
  apps/app_today_signals.py
  common/today_data_loader.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_223944.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_224654.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_225126.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_225353.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_230238.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
Due: project-rules-check, auto-benchmark

.gitignoreの更新: vscode AIルールを無視するための指示を追加
  .gitignore
Due: none

Format pyproject.toml (auto-formatting)
  pyproject.toml
Due: none

Refactor tests and remove obsolete test_s3_topoff.py
  .gitignore
  TASK/implementation_review_report_20251011.md
  TASK/parallel_test_fix_prompt.md
  TASK/progress_summary_20251011.md
  TASK/system7_coverage_analysis.md
  TASK/system7_test_fix_progress.md
  TASK/task_20251010.txt
  common/system_setup_predicates.py
  core/system1.py
  core/system6.py
  core/system7.py
  debug_norm_test.py
  docs/technical/environment_variables.md
  f821_errors.json
  ruff_report.json
  scripts/run_all_systems_today.py
  strategies/system6_strategy.py
  temp_phase_report.json
  test_indicator_calc.py
  test_indicator_detail.py
  test_merge_fix.py
  test_s3_quick.py
  test_s3_topoff.py
  tests/test_performance_monitor.py
  tests/test_system1_diagnostics_minimal.py
  tests/test_system2_diagnostics_minimal.py
  tests/test_system6_diagnostics_minimal.py
  tests/test_system7_branches.py
  tests/test_system7_latest_only.py
  tests/test_validate_predicate_equivalence.py
Due: project-rules-check, auto-benchmark, auto-snapshot

feat(phase6): パフォーマンス測定拡充 - PerformanceMonitor実装
  common/performance_monitor.py
  docs/operations/phase6_performance_monitoring_report_20251011.md
  tests/test_performance_monitor.py
Due: project-rules-check, auto-benchmark

Enhance scripts and tests for improved functionality and error handling
  .github/copilot-instructions.md
  .gitignore
  TASK/task_20251010.txt
  common/error_handling.py
  common/latest_day_validator.py
  common/logging_utils.py
  config/environment.py
  docs/technical/environment_variables.md
  docs/technical/error_handling_guide.md
  docs/today_signal_scan/1. 実行全体の流れ.md
  docs/today_signal_scan/3. フィルター実行フェーズ.md
  docs/today_signal_scan/4. セットアップ評価フェーズ.md
  docs/today_signal_scan/5. シグナル抽出フェーズ（トレード候補選定）.md
  docs/today_signal_scan/6. 配分・最終リスト生成フェーズ.md
  docs/today_signal_scan/7. 保存・通知フェーズ.md
  docs/today_signal_scan/README.md
  docs/today_signal_scan/implementation_status.md
  scripts/daily_run.py
  scripts/diag_check_rolling_latest_day.py
  scripts/diag_classify_rolling_latest_reasons.py
  scripts/run_all_systems_today.py
  scripts/scheduled_daily_update.py
  scripts/update_cache_all.py
  temp_test_diff.py
  temp_unused_ignore.txt
  tests/test_system4_enhanced.py
  tests/test_trdlist_validator.py
  tools/codacy_wsl_analyze.sh
Due: project-rules-check, auto-benchmark

docs: Phase7完了報告と最終チェックリスト更新
  .github/instructions/phase7-8_docs_cleanup.md
  docs/operations/phase7_completion_report_20251011.md
Due: none

Fix syntax errors in test_system7_latest_only_path.py
  .github/workflows/INTEGRATION_PLAN.md
  .github/workflows/ci-unified.yml
  .github/workflows/coverage-report.yml
  README.md
  apps/app_today_signals.py
  common/notification.py
  pyproject.toml
  scripts/run_all_systems_today.py
  tests/README.md
  tests/experimental/system7_archive/README.md
  tests/experimental/system7_archive/test_system7.py
  tests/experimental/system7_archive/test_system7_cache.py
  tests/experimental/system7_archive/test_system7_cache_incremental.py
  tests/experimental/system7_archive/test_system7_coverage_boost.py
  tests/experimental/system7_archive/test_system7_coverage_final.py
  tests/experimental/system7_archive/test_system7_direct.py
  tests/experimental/system7_archive/test_system7_edge_cases.py
  tests/experimental/system7_archive/test_system7_enhanced.py
  tests/experimental/system7_archive/test_system7_final_65.py
  tests/experimental/system7_archive/test_system7_final_coverage.py
  tests/experimental/system7_archive/test_system7_final_push.py
  tests/experimental/system7_archive/test_system7_latest_only_parity.py
  tests/experimental/system7_archive/test_system7_latest_only_path.py
  tests/experimental/system7_archive/test_system7_max70_optimization.py
  tests/experimental/system7_archive/test_system7_partial.py
  tests/experimental/system7_archive/test_system7_push_to_65.py
  tests/test_system7_error_cases.py
  tests/test_system7_full_scan.py
  tests/test_system7_latest_only.py
  tools/generate_coverage_report.py
Due: project-rules-check, auto-benchmark

Diagnostics APIの統一キーをfinal_top_n_countからranked_top_n_countに変更し、関連するテストを更新
  .github/instructions/phase3_test_scaffolding.md
  .github/instructions/phase4_pipeline_verification.md
  .github/instructions/phase5-6_diagnostics_comparison.md
  .github/instructions/phase7-8_docs_cleanup.md
  CHANGELOG.md
  docs/operations/phase7_completion_report_20251011.md
  docs/today_signal_scan/implementation_status.md
  tests/experimental/system7_archive/test_system7_enhanced.py
  tests/experimental/system7_archive/test_system7_final_65.py
  tests/experimental/system7_archive/test_system7_final_push.py
  tests/experimental/system7_archive/test_system7_latest_only_path.py
  tests/test_system6_enhanced.py
  tests/test_system7_branches.py
  tests/test_system7_latest_only.py
  tools/capture_ui_screenshot.py
  tools/inspect_ui.ps1
  tools/run_and_snapshot.ps1
Due: project-rules-check
