Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-enhanced-tests, check-mini-pipeline

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=88"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,E501,W503"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=88"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=5000"]
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: [-ll, --severity-level=medium, --confidence-level=medium]
        files: ^(core|common|scripts|strategies)/
        exclude: ^tests/

  - repo: local
    hooks:
      - id: guard-critical-files
        name: Guard critical UI files (expander contract)
        entry: python tools/guard_critical_files.py
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: run-enhanced-tests
        name: Run enhanced final_allocation tests
        entry: python -m pytest tests/test_final_allocation_enhanced.py -q --tb=short
        language: python
        files: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$
        pass_filenames: false

      - id: check-mini-pipeline
        name: Quick pipeline test (on core changes)
        entry: python scripts/run_all_systems_today.py --test-mode mini --skip-external
        language: python
        files: ^(scripts/run_all_systems_today\.py|core/|common/)
        pass_filenames: false
        stages: [pre-push]

      - id: local-quality-aggregate
        name: Local quality aggregate (ruff/mypy/pytest/bandit/radon)
        entry: python tools/local_quality_check.py --limit 30
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: ペーパー資金リセット機能を削除し、API非対応の明示化
  apps/app_today_signals.py
  common/broker_alpaca.py
Due: check-mini-pipeline

Refactor and enhance various modules
  apps/app_today_signals.py
  common/broker_alpaca.py
  common/cache_io.py
  common/today_data_loader.py
  common/today_signals.py
  core/final_allocation.py
  scripts/reset_paper_account.py
  scripts/update_cache_all.py
  strategies/base_strategy.py
Due: run-enhanced-tests, check-mini-pipeline

feat: Codacy分析の設定を更新し、SARIF形式での出力を追加 fix: JSONチェックの除外パターンを追加し、pytestの依存関係を追加
  .github/workflows/codacy-analysis.yml
  .pre-commit-config.yaml
Due: none

Apply black formatting to all files (auto-fixed by pre-commit hook)
  .pre-commit-config.yaml
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  apps/app_integrated.py
  apps/systems/app_system1.py
  common/ui_patch.py
  core/system1.py
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251004_114935.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251004_115403.json
  results_csv_test/diagnostics_test/test_modified.json
  scripts/run_all_systems_today.py
  temp_test_diff.py
Due: check-mini-pipeline

Apply black formatting (second pass after pre-commit auto-fix)
  .github/workflows/codacy-local-analysis.yml
  .pylintrc
  pyproject.toml
Due: none

Apply pre-commit auto-fixes (black + end-of-file-fixer)
  .pre-commit-config.yaml
  .pylintrc
  README.md
  common/system_diagnostics.py
Due: check-mini-pipeline

Add pre-push hook verification guide
  README.md
  common/system_diagnostics.py
Due: check-mini-pipeline

pre-push: use pinned black hook instead of local check
  .pre-commit-config.yaml
Due: none

pre-push: keep black check, move heavy hooks to manual (pipeline & quality aggregate)
  .pre-commit-config.yaml
Due: none

設定: mypy と Python 分析のためのエラー除外パターンを追加
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

コードの整形: 不要な改行を削除し、可読性を向上させるためにコードを整理
  core/system5.py
  core/system6.py
  cspell.json
  temp_unused_ignore.txt
Due: check-mini-pipeline

依存関係の整理: 不要なパッケージを削除し、重複を解消
  requirements.txt
Due: none

依存関係の追加: seaborn パッケージを requirements.txt に追加
  requirements.txt
Due: none

データフレーム表示の幅を「stretch」に変更し、可視性を向上させる
  apps/app_today_signals.py
  apps/dashboards/app_alpaca_dashboard.py
  common/ai_dashboard.py
  common/realtime_dashboard.py
  common/ui_components.py
  common/ui_tabs.py
  scripts/run_all_systems_today.py
  tools/precompute_shared_indicators.py
Due: check-mini-pipeline

型キャストを修正し、辞書のキーを文字列に変換するように変更
  core/system3.py
Due: check-mini-pipeline

コードのインポート順序を整理し、可読性を向上させるためにリファクタリングを実施
  scripts/build_rolling_with_indicators.py
Due: none

Refactor imports and improve code formatting in run_all_systems_today.py
  common/today_data_loader.py
  core/system3.py
  scripts/run_all_systems_today.py
Due: check-mini-pipeline

Refactor code for improved readability and maintainability
  .github/chatmodes/customchat0923.chatmode.md
  common/cache_manager.py
  core/system6.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_170439.json
  scripts/run_all_systems_today.py
Due: check-mini-pipeline

新しいワークスペース設定ファイルを追加
  core/quant_trading_system.code-workspace
Due: check-mini-pipeline

Refactor code structure and improve logging in today signals application
  .vscode/tasks.json
  apps/app_today_signals.py
  common/today_data_loader.py
  scripts/run_all_systems_today.py
  scripts/run_today_ui.py
Due: check-mini-pipeline

Refactor rolling indicator computation in update_from_bulk_last_day.py
  apps/app_today_signals.py
  common/today_data_loader.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_223944.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_224654.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_225126.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_225353.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_230238.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
Due: check-mini-pipeline

Refactor code for improved readability and maintainability in cache_manager.py, cache_validation.py, and update_from_bulk_last_day.py
  common/cache_manager.py
  common/cache_validation.py
  scripts/update_from_bulk_last_day.py
Due: check-mini-pipeline

Refactor update_from_bulk_last_day.py: Enhance performance and add new features
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_234842.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251005_235314.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
Due: check-mini-pipeline

Add Bulk API data quality verification and scheduled update scripts
  docs/BULK_API_GUIDE.md
  scripts/scheduled_daily_update.py
  scripts/verify_bulk_accuracy.py
Due: none

Update BULK_API_GUIDE.md: Enhance task scheduling instructions for CMD and PowerShell
  docs/BULK_API_GUIDE.md
Due: none

Refactor imports and improve code formatting in run_all_systems_today.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_060644.json
  scripts/run_all_systems_today.py
Due: check-mini-pipeline

Refactor system7.py for improved logging and diagnostics; add new diagnostic snapshots
  .gitignore
  config/config.yaml
  core/system1.py
  core/system2.py
  core/system3.py
  core/system4.py
  core/system5.py
  core/system6.py
  core/system7.py
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_215752.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_220631.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_222422.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_225126.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_225350.json
  results_csv_test/diagnostics_test/diagnostics_snapshot_20251006_232023.json
  scripts/run_all_systems_today.py
  scripts/update_from_bulk_last_day.py
  scripts/verify_bulk_accuracy.py
  strategies/base_strategy.py
Due: check-mini-pipeline

Refactor top_n setting logic in System4 and System5 strategies
  common/cache_manager.py
  scripts/run_all_systems_today.py
  strategies/system4_strategy.py
  strategies/system5_strategy.py
Due: check-mini-pipeline
