Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

project-rules-check:
  name: Project-Specific Rules Check
  entry: python tools/check_project_rules.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

auto-benchmark:
  name: Performance Regression Check
  entry: python tools/auto_benchmark.py --threshold 0.10 --confirm
  language: system
  pass_filenames: false
  stages:
  - pre-push

auto-snapshot:
  name: Snapshot Test (Core Changes)
  entry: python tools/auto_snapshot.py --compare
  language: system
  pass_filenames: false
  stages:
  - pre-push

run-enhanced-tests:
  name: Run enhanced final_allocation tests
  entry: python -m pytest tests/test_final_allocation_enhanced.py -q --tb=short
  language: system
  pass_filenames: false

feat: Add Codacy analysis runner for WSL with UTF-8 enforcement and flexible modes
  .codacy.yml
  codacy_report/results.sarif
  tools/codacy_wsl_analyze.sh
Due: none

Enhance System7 Tests: Coverage and Functionality Improvements
  .github/instructions/phase7-8_docs_cleanup.md
  .github/workflows/quality-check.yml
  CHANGELOG.md
  README.md
  TASK/implementation_review_report_20251011.md
  TASK/parallel_test_fix_prompt.md
  TASK/system7_coverage_analysis.md
  TASK/system7_test_fix_progress.md
  common/performance_monitor.py
  core/system1.py
  core/system7.py
  debug_norm_test.py
  docs/README.md
  docs/operations/implementation_report_20251008.md
  docs/operations/phase6_performance_monitoring_report_20251011.md
  docs/operations/phase7_completion_report_20251011.md
  docs/systems/システム6.txt
  docs/technical/README.md
  docs/technical/cache_index_requirements.md
  docs/technical/zero_candidates_guide.md
  scripts/run_all_systems_today.py
  temp_phase_report.json
  tests/README.md
  tests/conftest.py
  tests/test_core_system7_focused.py
  tests/test_system7_branches.py
  tests/test_system7_cache.py
  tests/test_system7_cache_incremental.py
  tests/test_system7_coverage_boost.py
  tests/test_system7_edge_cases.py
  tests/test_system7_final_65.py
  tests/test_system7_final_push.py
  tests/test_system7_push_to_65.py
Due: project-rules-check, auto-benchmark, auto-snapshot

feat(phase6): run_all_systems_todayにPerformanceMonitor統合
  TASK/progress_summary_20251011.md
  core/system1.py
  debug_norm_test.py
  ruff_report.json
  scripts/run_all_systems_today.py
  tests/test_system7_cache.py
  tests/test_system7_final_65.py
  tests/test_system7_final_push.py
  tests/test_system7_push_to_65.py
Due: project-rules-check, auto-benchmark, auto-snapshot

feat: Update VSCode settings and add new tasks for improved development workflow
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  apps/app_today_signals.py
Due: project-rules-check

feat: Add position size calculation method to trading strategies
  .env.example
  CHANGELOG.md
  README.md
  apps/app_today_signals.py
  common/strategy_runner.py
  common/system_diagnostics.py
  common/today_data_loader.py
  common/today_signals.py
  common/trade_management.py
  config/environment.py
  core/final_allocation.py
  core/system1.py
  core/system3.py
  core/system4.py
  core/system6.py
  core/system7.py
  core/today_pipeline/phase02_basic_data.py
  docs/BULK_API_QUICK_START.md
  docs/README.md
  docs/changes/2025-10-12_bulk_api_quality_improvement.md
  docs/changes/BULK_API_COMPLETION_REPORT.md
  docs/operations/bulk_api_quality_guide.md
  docs/tasks/2025-10-12_trade_mgmt_followups.md
  docs/technical/environment_variables.md
  scripts/run_all_systems_today.py
  scripts/verify_bulk_accuracy.py
  strategies/base_strategy.py
  strategies/system1_strategy.py
  strategies/system2_strategy.py
  strategies/system3_strategy.py
  strategies/system4_strategy.py
  strategies/system5_strategy.py
  strategies/system6_strategy.py
  strategies/system7_strategy.py
  tools/check_candidates.py
  tools/inspect_benchmark_json.py
  tools/run_test_utf8.ps1
  tools/simple_trade_test.py
  tools/test_trade_management.py
  tools/verify_trade_management_integration.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Add tools for UI progress tracking, snapshot comparison, regression detection, API documentation generation, system specifications generation, and scheduled tasks for cache updates and daily signals
  .github/instructions/instructions0913.instructions.md
  .github/workflows/daily-signals.yml
  .github/workflows/dependency-check.yml
  .github/workflows/docs-auto-update.yml
  .pre-commit-config.yaml
  README.md
  apps/app_today_signals.py
  benchmarks/history.jsonl
  docs/UI_SYNC_FIX.md
  docs/api/system1_test.md
  docs/automation/AUTOMATION_GUIDE.md
  docs/blog/MY_30DAY_ACTION_PLAN.md
  scripts/daily_auto_run.ps1
  scripts/guarded_cache_update.ps1
  scripts/market_holiday_check.py
  scripts/notify_error.py
  scripts/notify_info.py
  scripts/notify_results.py
  tools/analyze_screenshots.py
  tools/analyze_screenshots_auto.py
  tools/analyze_screenshots_simple.py
  tools/analyze_ui_screenshots.py
  tools/auto_benchmark.py
  tools/auto_snapshot.py
  tools/capture_ui_progress.py
  tools/compare_snapshots.py
  tools/debug_screenshot_colors.py
  tools/detect_progress_regression.py
  tools/detect_visual_diff.py
  tools/generate_api_docs.py
  tools/generate_system_specs.py
  tools/run_complete_ui_analysis.py
  tools/schedule_cache_update.ps1
  tools/schedule_daily_signals.ps1
  tools/sync_analysis.py
  tools/verify_ui_jsonl_sync.py
  tools/visualize_benchmarks.py
Due: project-rules-check

Streamlit UIスクリーンショットツールにユーザー待機オプションとカラースキーム設定を追加
  tools/capture_ui_screenshot.py
  tools/inspect_ui.ps1
  tools/run_and_snapshot.ps1
Due: project-rules-check

Add End-to-End tests for Streamlit UI using Playwright
  .github/workflows/playwright.yml
  .gitignore
  .vscode/tasks.json
  docs/README.md
  docs/automation/README.md
  docs/automation/ai_code_review.md
  docs/automation/auto_documentation.md
  docs/automation/daily_signal_automation.md
  docs/automation/performance_regression.md
  docs/automation/snapshot_testing.md
  docs/blog/MY_30DAY_ACTION_PLAN.md
  docs/blog/monetization_strategy.md
  docs/blog/playwright_ai_presentation_outline.md
  docs/blog/playwright_ai_tutorial.md
  docs/technical/playwright_integration.md
  e2e/README.md
  e2e/example.spec.ts
  e2e/streamlit/allocation-display.spec.ts
  e2e/streamlit/app-basic.spec.ts
  e2e/streamlit/signals-display.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  scripts/run_all_systems_today.py
  tools/check_project_rules.py
  tools/verify_sync.ps1
Due: project-rules-check, auto-benchmark

feat: Update symbol_system_map to allow multiple system assignments for each symbol
  allocation_test_output.txt
  core/final_allocation.py
  data/symbol_system_map.json
  tools/capture_ui_screenshot.py
  tools/debug_allocation.py
  tools/fix_symbol_system_map.py
  tools/simple_allocation_test.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

feat: Add new tools for header image generation and icon processing
  .streamlit/config.toml
  .vscode/tasks.json
  apps/app_today_signals.py
  common/system_setup_predicates.py
  config/environment.py
  docs/blog/playwright_ai_tutorial.md
  docs/branding/README.md
  docs/branding/article_playwright_ai_outline.md
  docs/branding/articles/first_note_article.md
  docs/branding/bios.md
  docs/branding/content_calendar.md
  docs/branding/pinned_tweet.md
  docs/branding/templates.md
  docs/operations/TRI_SYNC_QUICKSTART.md
  docs/operations/tri_sync_full_run_guide.md
  docs/technical/environment_variables.md
  scripts/capture_screenshots_only.py
  scripts/capture_ui_progress.py
  scripts/run_all_systems_today.py
  scripts/run_ui_with_screenshots.py
  tools/generate_header.py
  tools/process_icon.py
  tools/sync_analysis.py
Due: project-rules-check, auto-benchmark

Add keyword quick reference, next article template, and 48-hour operation checklist for enhanced article writing and management
  docs/character_dialogue_format.md
  docs/content_calendar_week1_4.md
  docs/copilot_chat_10_tips_outline.md
  docs/english_eyecatch_specs.md
  docs/keywords_quickref.md
  docs/note_next_article_template.md
  docs/x_48h_operation_checklist.md
Due: none

chore(env): point VSCode & tools to venv; unblock commit while fixing WindowsApps Python issue
  .vscode/settings.json
  docs/blog/playwright_ai_tutorial.md
  docs/branding/pinned_tweet.md
  docs/operations/tri_sync_analysis_report_20251013.md
  run_full_test.bat
  run_full_test.ps1
Due: none

feat: Improve universe loading logic to use local cache and enhance error handling
  apps/app_today_signals.py
Due: project-rules-check

docs: tri-sync full-run report for 2025-10-13 (non-parallel & parallel) + artifacts pointers
  docs/operations/tri_sync_report_2025-10-13.md
Due: none

feat: Update Copilot instructions with VS Code tasks integration, test determinism enhancements, and recent architectural improvements
  .github/COPILOT_INSTRUCTIONS_UPDATE_SUMMARY.md
  .github/copilot-instructions.md
Due: none

Workaround: commit despite phantom black/isort for system6
  common/system_setup_predicates.py
  common/today_filters.py
  config/environment.py
  core/system1.py
  core/system3.py
  core/system6.py
  docs/api/system1_test.md
  docs/eyecatch_workflow.md
  docs/handoff_memo_week1_eyecatch_workflow.md
  docs/images/eyecatch_base_yui_ren.png
  docs/images/eyecatch_week1_en.png
  docs/images/eyecatch_week1_ja.png
  docs/images/eyecatch_week2_ja.png
  docs/keywords_quickref.md
  docs/nano_banana_eyecatch_prompts.md
  docs/technical/environment_variables.md
  docs/week1_article_draft.md
  tools/capture_ui_screenshot.py
  tools/generate_article_eyecatch.py
  tools/run_and_snapshot.ps1
Due: project-rules-check, auto-benchmark, auto-snapshot

style: apply pre-commit auto-fixes (black/isort/ruff)
  Makefile
  README.md
  apps/app_today_signals.py
  common/backtest_utils.py
  common/candidates_schema.py
  common/integrated_backtest.py
  common/latest_day_validator.py
  config/environment.py
  core/system3.py
  core/system6.py
  docs/technical/environment_variables.md
  docs/week1_article_public_full.md
  docs/week1_promo_assets.md
  docs/week2_article_draft.md
  docs/week2_article_public.md
  docs/week2_promo_assets.md
  scripts/notify_error.py
  scripts/run_all_systems_today.py
  scripts/run_today_ui.py
  strategies/system6_strategy.py
  strategies/system7_strategy.py
  tests/test_system6_enhanced.py
  tools/capture_ui_screenshot.py
  tools/debug_allocation.py
  tools/export_diagnostics_snapshot.py
  tools/generate_article_eyecatch.py
  tools/run_complete_ui_analysis.py
Due: project-rules-check, auto-benchmark, auto-snapshot

chore: remove duplicate common/pyproject.toml (config unification)
  common/pyproject.toml
  docs/week1_article_public_full.md
  docs/week1_promo_assets.md
Due: auto-benchmark

docs: update tri-sync full-run report (timings/perf notes)
  docs/operations/tri_sync_report_2025-10-13.md
Due: none

chore: normalize imports and formatting (isort -> black -> ruff)
  .pre-commit-config.yaml
  core/system6.py
  strategies/system2_strategy.py
  tools/archive/system2_old.py
  tools/archive/system4_backup.py
  tools/archive/system4_old.py
  tools/generate_article_eyecatch.py
Due: project-rules-check, auto-benchmark, auto-snapshot

ci: add isort check to CI and tighten ruff import ignore; docs: formatting steps
  .github/workflows/ci-unified.yml
  CONTRIBUTING.md
  pyproject.toml
Due: none

ci: add isort steps to workflows; ruff: narrow import ignore to I001; docs: formatting order
  .github/workflows/ci_quality.yml
  .github/workflows/quality-check.yml
Due: none

chore: apply pre-commit automatic fixes
  CONTRIBUTING.md
  docs/eyecatch_final/Generated Image October 18, 2025 - 12_30PM_with_title.png
  docs/eyecatch_final/Generated Image October 18, 2025 - 1_29PM_1280x670.png
  docs/eyecatch_final/Generated Image October 18, 2025 - 1_29PM_1280x670_smart.png
  docs/eyecatch_final/Generated_Title_Band.png
  docs/eyecatch_final/Generated_With_Title_bottom.png
  docs/week2_article_public.md
  e2e/streamlit/allocation-display.spec.ts
  e2e/streamlit/app-basic.spec.ts
  e2e/streamlit/signals-display.spec.ts
  playwright.config.ts
  tmp_ruff_i.json
  tools/apply_title_to_image.py
  tools/collect_ruff_i.py
  tools/commit_retry.ps1
  tools/resize_to_eyecatch.py
  tools/start_playwright_server.ps1
Due: project-rules-check

Enhance screenshot capture tool and article eyecatch generator
  docs/week2_article_public.md
Due: none

Refactor allocation logic and improve error handling in final_allocation.py
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  core/final_allocation.py
  docs/week2_article_public.md
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Copilot instructions: 更新されたエントリポイントとデータフローの概要を簡潔に整理し、必須ルールや開発コマンドを明確化
  .github/copilot-instructions.md
Due: none

画像ファイルの更新とPlaywright設定ファイルのコードスタイルを統一
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/playwright.config.example.ts
  docs/week2_article_public.md
  e2e/streamlit/allocation-display.spec.ts
  e2e/streamlit/signals-display.spec.ts
  tools/debug_finalize_allocation.py
Due: project-rules-check

Improve CTA and add file metadata for paid assets
  docs/week2_article_public.md
Due: none

Replace placeholder checklist and eyecatch with real assets; regenerate zip
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/week2_paid_assets.zip
Due: none

Add note preview link to week2 article
  docs/week2_article_public.md
Due: none

Add paid asset link to week2 article and include downloads zip
  apps/app_today_signals.py
  common/backtest_utils.py
  common/candidates_schema.py
  core/final_allocation.py
  core/system6.py
  docs/downloads/checklist_week2.pdf
  docs/downloads/ci.Dockerfile.example
  docs/downloads/eyecatch_week2_1280x670.png
  docs/downloads/eyecatch_week2_titleband.png
  docs/downloads/nano_banana_prompts_playwright-ci-30.txt
  docs/downloads/playwright.config.example.ts
  docs/downloads/week2_paid_assets.zip
  docs/week2_article_public.md
  scripts/cache_daily_data.py
  scripts/run_all_systems_today.py
  strategies/system2_strategy.py
  tests/experimental/system7_archive/test_system7_latest_only_path.py
  tests/test_indicators_precompute_part2.py
  tests/test_system5_old.py
  tests/test_system7_latest_only.py
  tools/apply_title_to_image.py
  tools/capture_ui_screenshot.py
  tools/debug_finalize_allocation.py
  tools/generate_article_eyecatch.py
  tools/generate_nano_banana_prompts.py
  tools/resize_to_eyecatch.py
  tools/test_trade_management.py
  tools/verify_ui_jsonl_sync.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

chore: accept pre-commit formatting changes to app_today_signals.py
  .github/workflows/ci.yml
  .github/workflows/ci_quality.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  apps/app_today_signals.py
  common/candidates_schema.py
  core/system6.py
  docs/week2_article_public.md
  e2e/streamlit/signals-display.spec.ts
  requirements-dev.txt
  scripts/cache_daily_data.py
  tests/experimental/system7_archive/test_system7_latest_only_path.py
  tests/test_indicators_precompute_part2.py
  tests/test_system5_old.py
  tests/test_system7_latest_only.py
  tools/archive/system4_backup.py
  tools/archive/system4_old.py
  tools/commit_retry.ps1
  tools/generate_article_eyecatch.py
  tools/generate_nano_banana_prompts.py
  tools/precommit_stabilize.ps1
  tools/resize_to_eyecatch.py
  tools/test_trade_management.py
  tools/verify_ui_jsonl_sync.py
Due: project-rules-check, auto-benchmark, auto-snapshot

chore: add *.isorted to .gitignore
  .gitignore
Due: none

Add checklist PDF generator script
  tools/generate_checklist_pdf.py
Due: project-rules-check

Polish checklist PDF layout: larger checkbox and spacing; regenerate zip
  core/final_allocation.py
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
  tools/generate_checklist_pdf.py
Due: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

記事の文言を微調整し、可読性を向上させるためにスペースを追加
  docs/week2_article_public.md
Due: none

Generate real checklist_week2.pdf and regenerate assets zip
  docs/downloads/checklist_week2.pdf
  docs/downloads/week2_paid_assets.zip
Due: none

Path conditions:
  project-rules-check: any of: \.py$, but not: ^(tests/|tools/check_project_rules\.py|e2e/)
  auto-benchmark: any of: ^(core/|common/|scripts/run_all_systems_today\.py)
  auto-snapshot: any of: ^(core/system[1-7]\.py|core/final_allocation\.py|common/today_signals\.py)
  run-enhanced-tests: any of: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$
