Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Path conditions:
  project-rules-check: any of: \.py$, but not: ^(tests/|tools/check_project_rules\.py|e2e/)
  auto-benchmark: any of: ^(core/|common/|scripts/run_all_systems_today\.py)
  auto-snapshot: any of: ^(core/system[1-7]\.py|core/final_allocation\.py|common/today_signals\.py)
  run-enhanced-tests: any of: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$

fix(dashboard): distinguish trailing protection state
  .github/workflows/pr173-apply.yml
  apps/dashboards/alpaca-next/components/AlpacaSection.tsx
  apps/dashboards/alpaca-next/lib/types.ts
  common/alpaca_trading.py
  scripts/export_alpaca_snapshot.py
  tests/test_dashboard_trailing_display_20260908.py
  tools/_pr173_apply.py
Due: project-rules-check, auto-benchmark

test: pin S1 and S4 trailing widths for dashboard contract
  tests/test_dashboard_trailing_display_20260908.py
Due: none

ci(pr173): apply pinned isort formatting
  .github/workflows/pr173-format.yml
Due: none

style: apply isort to PR173 files
  .github/workflows/pr173-format.yml
  scripts/export_alpaca_snapshot.py
  tests/test_dashboard_trailing_display_20260908.py
Due: project-rules-check

test: verify dashboard stop estimate follows configured floor
  tests/test_dashboard_trailing_display_20260908.py
Due: none

ci(pr173): apply pinned Black formatting
  .github/workflows/pr173-black.yml
Due: none

style: apply Black to PR173 test
  .github/workflows/pr173-black.yml
  tests/test_dashboard_trailing_display_20260908.py
Due: none

test: document trailing intent vs broker observation boundary
  tests/test_dashboard_trailing_display_20260908.py
Due: none

fix(dashboard): stop mislabeling trailing protection as ATR stop
  apps/dashboards/alpaca-next/components/AlpacaSection.tsx
  apps/dashboards/alpaca-next/lib/types.ts
  common/alpaca_trading.py
  docs/DASHBOARD_TRAILING_PROTECTION_DISPLAY_20260908.md
  scripts/export_alpaca_snapshot.py
  tests/test_dashboard_trailing_display_20260908.py
Due: project-rules-check, auto-benchmark

chore(data): daily update 2026-09-09
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260902.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260909.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260902.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260909.json
  apps/dashboards/alpaca-next/data/narrative_20260902.json
  apps/dashboards/alpaca-next/data/narrative_20260909.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260909.json
  apps/dashboards/alpaca-next/data/pipeline_20260909.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260909.json
  apps/dashboards/alpaca-next/data/today_signals_20260902.json
  apps/dashboards/alpaca-next/data/today_signals_20260909.json
Due: none

fix(cache): fail visible when auto-latest makes no progress
  scripts/cache_daily_polygon.py
Due: project-rules-check

fix(monitor): count data lag with NYSE sessions
  scripts/self_monitor_check.py
Due: project-rules-check

test: lock NYSE holiday lag and cache progress postcondition
  tests/test_20260909_cache_freshness_regression.py
Due: none

style: restore newline for Black
  scripts/cache_daily_polygon.py
Due: project-rules-check

style: restore newline for Black
  scripts/self_monitor_check.py
Due: project-rules-check

style(cache): apply pinned Black wrapping
  scripts/cache_daily_polygon.py
Due: project-rules-check

fix(monitor): stop NYSE-holiday false WARN and cache silent success (#175)
  scripts/cache_daily_polygon.py
  scripts/self_monitor_check.py
  tests/test_20260909_cache_freshness_regression.py
Due: project-rules-check

fix(dashboard): 決済履歴を「1 ポジション = 1 行」に集約し FIFO 分割の誤解を消す
  apps/dashboards/alpaca-next/components/AlpacaSection.tsx
  apps/dashboards/alpaca-next/lib/types.ts
  common/exit_ledger.py
  scripts/export_alpaca_snapshot.py
  tests/test_exit_ledger_aggregate.py
Due: project-rules-check, auto-benchmark

chore(data): daily update 2026-09-09
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260909.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260909.json
Due: none

chore(data): daily update 2026-09-09
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260909.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260909.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260909.json
  apps/dashboards/alpaca-next/data/pipeline_20260909.json
  apps/dashboards/alpaca-next/data/today_signals_20260909.json
Due: none

chore(data): daily update 2026-09-10
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260903.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260910.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260903.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260910.json
  apps/dashboards/alpaca-next/data/narrative_20260903.json
  apps/dashboards/alpaca-next/data/narrative_20260910.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260910.json
  apps/dashboards/alpaca-next/data/pipeline_20260910.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260910.json
  apps/dashboards/alpaca-next/data/today_signals_20260910.json
Due: none

fix: restore S1/S4 trailing protection end to end
  .github/workflows/s1-s4-trailing-protection.yml
  apps/dashboards/alpaca-next/components/AlpacaSection.tsx
  apps/dashboards/alpaca-next/components/AlpacaSectionLegacy.tsx
  common/soft_trailing.py
  schedulers/runner.py
  schedulers/runner_legacy.py
  scripts/export_alpaca_snapshot.py
  scripts/export_alpaca_snapshot_legacy.py
  tests/test_dashboard_trailing_display_20260908.py
  tests/test_s1_s4_soft_trailing_20260910.py
Due: project-rules-check, auto-benchmark

ci: install test deps for S1/S4 trailing checks
  .github/workflows/s1-s4-trailing-protection.yml
Due: none

ci: one-shot Black formatting for PR 176
  .github/workflows/pr176-black-autofix.yml
Due: none

ci: retrigger PR176 checks after Black formatting
  .github/workflows/s1-s4-trailing-protection.yml
Due: none

test: align S1/S4 route guard with canonical whole-share policy
  tests/test_s1_s4_soft_trailing_20260910.py
Due: none

fix: preserve canonical session PnL helper through snapshot wrapper
  scripts/export_alpaca_snapshot.py
Due: project-rules-check

ci: one-shot final Black for PR 176
  .github/workflows/pr176-black-final.yml
Due: none

ci: run final PR176 validation
  .github/workflows/s1-s4-trailing-protection.yml
Due: none

fix: resolve trailing stop from broker stop or HWM
  scripts/export_alpaca_snapshot.py
Due: project-rules-check

fix: restore S1/S4 trailing protection end to end (#176)
  .github/workflows/s1-s4-trailing-protection.yml
  apps/dashboards/alpaca-next/components/AlpacaSection.tsx
  apps/dashboards/alpaca-next/components/AlpacaSectionLegacy.tsx
  common/soft_trailing.py
  schedulers/runner.py
  schedulers/runner_legacy.py
  scripts/export_alpaca_snapshot.py
  scripts/export_alpaca_snapshot_legacy.py
  tests/test_dashboard_trailing_display_20260908.py
  tests/test_s1_s4_soft_trailing_20260910.py
Due: project-rules-check, auto-benchmark

chore(data): daily update 2026-09-10
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260910.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260910.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260910.json
  apps/dashboards/alpaca-next/data/pipeline_20260910.json
  apps/dashboards/alpaca-next/data/today_signals_20260910.json
Due: none

fix(system5): add exact live exit adapter without changing strategy
  common/system5_live_exit.py
Due: project-rules-check, auto-benchmark

test(system5): lock Bensdorp next-open live exit semantics
  tests/test_system5_live_exit_spec_20260910.py
Due: none

fix(system5): route paper exits through exact next-open adapter
  scripts/paper_exit_check.py
Due: project-rules-check

docs(system5): record live exit divergence and remediation
  docs/SYSTEM5_LIVE_EXIT_SPEC_FIX_20260910.md
Due: none

fix(system5): add canonical live exit state machine
  common/system5_live_exit.py
Due: project-rules-check, auto-benchmark

test(system5): lock Bensdorp live exit parity
  tests/test_system5_live_exit_parity_20260910.py
Due: none

fix(system5): keep next-open target order market-only
  common/system5_live_exit.py
Due: project-rules-check, auto-benchmark
