Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

project-rules-check:
  name: Project-Specific Rules Check
  entry: python tools/check_project_rules.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

auto-benchmark:
  name: Performance Regression Check
  entry: python tools/auto_benchmark.py --threshold 0.10 --confirm
  language: system
  pass_filenames: false
  stages:
  - pre-push

auto-snapshot:
  name: Snapshot Test (Core Changes)
  entry: python tools/auto_snapshot.py --compare
  language: system
  pass_filenames: false
  stages:
  - pre-push

run-enhanced-tests:
  name: Run enhanced final_allocation tests
  entry: python -m pytest tests/test_final_allocation_enhanced.py -q --tb=short
  language: system
  pass_filenames: false

test(system5): assert next-open target is pure market order
  tests/test_system5_live_exit_parity_20260910.py
Due: none

chore(system5): add one-shot integration patcher
  tools/_patch_system5_live_parity_20260910.py
Due: project-rules-check

chore(system5): run one-shot integration patch
  .github/workflows/system5-live-parity-patch-once.yml
Due: none

fix(system5): wire canonical live exits into paper execution and dashboard
  .github/workflows/system5-live-parity-patch-once.yml
  apps/dashboards/alpaca-next/components/AlpacaSectionLegacy.tsx
  scripts/export_alpaca_snapshot.py
  scripts/paper_exit_check.py
  tools/_patch_system5_live_parity_20260910.py
Due: project-rules-check

chore(system5): run pinned formatters once
  .github/workflows/system5-live-format-once.yml
Due: none

style(system5): apply pinned isort and black
  .github/workflows/system5-live-format-once.yml
  common/system5_live_exit.py
  scripts/export_alpaca_snapshot.py
  scripts/paper_exit_check.py
Due: project-rules-check, auto-benchmark

test(system5): lock holiday-aware next-open target exit
  tests/test_system5_live_exit_parity_20260910.py
Due: none

fix(system5): restore Bensdorp exit semantics in Paper live path (#178)
  apps/dashboards/alpaca-next/components/AlpacaSectionLegacy.tsx
  common/system5_live_exit.py
  scripts/export_alpaca_snapshot.py
  scripts/paper_exit_check.py
  tests/test_system5_live_exit_parity_20260910.py
Due: project-rules-check, auto-benchmark

chore(data): daily update 2026-09-11
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260904.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260911.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260904.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260911.json
  apps/dashboards/alpaca-next/data/narrative_20260904.json
  apps/dashboards/alpaca-next/data/narrative_20260911.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260911.json
  apps/dashboards/alpaca-next/data/pipeline_20260911.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260911.json
  apps/dashboards/alpaca-next/data/today_signals_20260904.json
  apps/dashboards/alpaca-next/data/today_signals_20260911.json
Due: none

fix: bridge fresh soft trailing status into dashboard
  scripts/export_alpaca_snapshot.py
Due: project-rules-check

test: reject stale soft trailing dashboard evidence
  tests/test_soft_trailing_status_bridge_20260911.py
Due: none

ci: gate soft trailing runtime state bridge
  .github/workflows/s1-s4-trailing-protection.yml
Due: none

fix: bridge soft trailing runtime state into dashboard (#179)
  .github/workflows/s1-s4-trailing-protection.yml
  scripts/export_alpaca_snapshot.py
  tests/test_soft_trailing_status_bridge_20260911.py
Due: project-rules-check

fix(system5): safely migrate legacy protection
  common/alpaca_trading.py
  common/system5_live_exit.py
  common/system5_protection_migration.py
  docs/SYSTEM5_LEGACY_PROTECTION_MIGRATION_20260911.md
  scripts/paper_exit_check.py
  tests/test_system5_live_exit_parity_20260910.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): safely migrate legacy protection (#180)
  common/alpaca_trading.py
  common/system5_live_exit.py
  common/system5_protection_migration.py
  docs/SYSTEM5_LEGACY_PROTECTION_MIGRATION_20260911.md
  scripts/paper_exit_check.py
  tests/test_system5_live_exit_parity_20260910.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): execute protection migration sequentially
  common/system5_migration_execution.py
  scripts/paper_exit_check.py
  tests/test_system5_migration_execution_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): execute protection migration sequentially (#181)
  common/system5_migration_execution.py
  scripts/paper_exit_check.py
  tests/test_system5_migration_execution_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): scope legacy migration operator run
  common/system5_protection_migration.py
  scripts/paper_exit_check.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): add migration-only operator scope (#182)
  common/system5_protection_migration.py
  scripts/paper_exit_check.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): recover pending cancel migration safely
  common/system5_migration_execution.py
  common/system5_protection_migration.py
  tests/test_system5_migration_execution_20260911.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): recover pending-cancel migration safely (#183)
  common/system5_migration_execution.py
  common/system5_protection_migration.py
  tests/test_system5_migration_execution_20260911.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): gate migration to market hours
  common/system5_migration_execution.py
  common/system5_protection_migration.py
  scripts/paper_exit_check.py
  tests/test_system5_migration_execution_20260911.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(system5): gate migration to market hours (#184)
  common/system5_migration_execution.py
  common/system5_protection_migration.py
  scripts/paper_exit_check.py
  tests/test_system5_migration_execution_20260911.py
  tests/test_system5_protection_migration_20260911.py
Due: project-rules-check, auto-benchmark

fix(exit): wait for cancel settlement and report held failures
  common/broker_alpaca.py
  scripts/paper_exit_check.py
  tests/test_mandatory_exit_settlement_20260911.py
Due: project-rules-check, auto-benchmark

fix(exit): wait for cancel settlement and report held failures (#185)
  common/broker_alpaca.py
  scripts/paper_exit_check.py
  tests/test_mandatory_exit_settlement_20260911.py
Due: project-rules-check, auto-benchmark

fix(entry): protect late fills after submission
  scripts/open_auto_run.py
  scripts/paper_exit_check.py
  scripts/post_entry_protection_sweep.ps1
  scripts/register_post_entry_protection_task.ps1
  tests/test_post_entry_protection_20260911.py
Due: project-rules-check

test(entry): satisfy lint
  tests/test_post_entry_protection_20260911.py
Due: none

fix(entry): protect late fills after submission (#186)
  scripts/open_auto_run.py
  scripts/paper_exit_check.py
  scripts/post_entry_protection_sweep.ps1
  scripts/register_post_entry_protection_task.ps1
  tests/test_post_entry_protection_20260911.py
Due: project-rules-check

fix(task): register post-entry sweep cadence portably
  scripts/register_post_entry_protection_task.ps1
Due: none

fix(task): register post-entry sweep cadence portably (#187)
  scripts/register_post_entry_protection_task.ps1
Due: none

chore(data): daily update 2026-09-13
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260905.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260913.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260905.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260913.json
  apps/dashboards/alpaca-next/data/narrative_20260905.json
  apps/dashboards/alpaca-next/data/narrative_20260913.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260913.json
  apps/dashboards/alpaca-next/data/pipeline_20260913.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260905.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260913.json
  apps/dashboards/alpaca-next/data/today_signals_20260905.json
  apps/dashboards/alpaca-next/data/today_signals_20260913.json
Due: none

fix: repair open-run PowerShell parsing
  scripts/open_auto_run.ps1
Due: none

Path conditions:
  project-rules-check: any of: \.py$, but not: ^(tests/|tools/check_project_rules\.py|e2e/)
  auto-benchmark: any of: ^(core/|common/|scripts/run_all_systems_today\.py)
  auto-snapshot: any of: ^(core/system[1-7]\.py|core/final_allocation\.py|common/today_signals\.py)
  run-enhanced-tests: any of: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$
