Repository r-estoer3588/quant_trading_system_0510to0906: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-rules-check, auto-benchmark, auto-snapshot, run-enhanced-tests

Path conditions:
  project-rules-check: any of: \.py$, but not: ^(tests/|tools/check_project_rules\.py|e2e/)
  auto-benchmark: any of: ^(core/|common/|scripts/run_all_systems_today\.py)
  auto-snapshot: any of: ^(core/system[1-7]\.py|core/final_allocation\.py|common/today_signals\.py)
  run-enhanced-tests: any of: ^(core/final_allocation\.py|tests/test_final_allocation_enhanced\.py)$

fix: import logging and pathlib in multiple files for consistency
  common/alert_framework.py
  common/performance_optimization.py
  config/environment.py
  docs/internal/system3_5_commonization_option_b.md
  scripts/run_controlled_tests.py
Due: project-rules-check, auto-benchmark

chore(ci): apply isort import ordering across repo to satisfy CI Unified lint check; no functional changes
  py_changed.txt
Due: none

chore: remove accidental additions from previous commit
  py_changed.txt
Due: none

chore(ci): isort import order fixes (6 files) to satisfy CI Unified lint
  common/alert_framework.py
  common/performance_optimization.py
  config/environment.py
  core/system6.py
  scripts/run_all_systems_today.py
  scripts/run_controlled_tests.py
Due: project-rules-check, auto-benchmark, auto-snapshot

CI: Pin formatter versions and stabilize import checks (isort skip for 2 files; disable force_sort_within_sections); Black/isort/ruff now PASS locally
  .github/workflows/ci-unified.yml
  core/system6.py
  pyproject.toml
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark, auto-snapshot

docs: update Copilot instructions for clarity and structure
  .github/copilot-instructions.md
Due: none

Add Entry/Exit test results documentation and enhance order submission logging
  .env.example
  README.md
  apps/app_today_signals.py
  apps/dashboards/app_alpaca_dashboard.py
  common/trade_history.py
  docs/ALPACA_PAPER_TRADING.md
  docs/ALPACA_QUICK_START.md
  docs/CODE_REVIEW_2025-11-03.md
  docs/ENTRY_EXIT_TEST_RESULTS.md
  scripts/run_all_systems_today.py
  tests/test_entry_exit_integration.py
  tests/test_monthly_roll_forward.py
  tools/test_alpaca_connection.py
Due: project-rules-check, auto-benchmark

Update symbol system mapping and add trade history
  apps/app_today_signals.py
  data/position_entry_dates.json
  data/symbol_system_map.json
  data/trade_history.jsonl
  tmp_recompute_lock
Due: project-rules-check

Fix DataFrame type checks and improve error handling in position summary display
  apps/app_today_signals.py
  scripts/run_all_systems_today.py
Due: project-rules-check, auto-benchmark

注文データのUUIDと作成日時を文字列に変換し、Arrow互換性のために全列を文字列化する処理を追加
  apps/app_today_signals.py
Due: project-rules-check

Arrow 互換性の問題を解決するために、オブジェクト型の列を文字列に変換する処理を追加
  apps/dashboards/app_alpaca_dashboard.py
Due: project-rules-check

Arrow 互換性の問題を解決するために、データフレーム内のオブジェクト型を文字列に変換する処理を追加
  apps/dashboards/app_alpaca_dashboard.py
Due: project-rules-check

オープンオーダーのIDを文字列に変換し、Arrow互換性のためにデータフレームをサニタイズする処理を追加
  apps/dashboards/app_alpaca_dashboard.py
Due: project-rules-check

CSSの調整とデータフレーム表示の高さを設定し、ユーザーの動作設定に配慮したアニメーションを追加
  apps/dashboards/app_alpaca_dashboard.py
Due: project-rules-check

CSSの調整とトグルボタンの導入により、ユーザーインターフェースの視認性を向上
  apps/dashboards/app_alpaca_dashboard.py
Due: project-rules-check

feat: Add logging for today's signals execution and enhance test symbol generation
  check_generated_data.py
  pipeline_output.txt
  tools/generate_test_symbols.py
Due: project-rules-check

feat: スケジューラーに当日シグナル生成タスクを追加し、実行時刻を変更
  config/config.yaml
  docs/SCHEDULER_GUIDE.md
  register_task_scheduler.ps1
  start_scheduler.ps1
  tmp_recompute_lock
Due: none

feat: システムマッピングの改善とデータフレームの整形処理を追加
  README.md
  apps/dashboards/app_alpaca_dashboard.py
  config/config.yaml
  data/alpaca_sent_markers.json
  data/auto_rule_config.json
  data/position_entry_dates.json
  schedulers/runner.py
  scripts/daily_run.py
  scripts/run_auto_rule.py
  tmp_recompute_lock
Due: project-rules-check

fix: 更新された再計算ロックのタイムスタンプを修正
  tmp_recompute_lock
Due: none

fix: 再計算ロックのタイムスタンプを更新
  tmp_recompute_lock
Due: none

Update tmp_recompute_lock timestamp to reflect new scheduling date
  commits_0829.txt
  commits_quant.txt
  tmp_recompute_lock
Due: none

fix: 再計算ロックのタイムスタンプを2025-12-03に更新
  tmp_recompute_lock
Due: none

fix: 再計算ロックのタイムスタンプを2025-12-04に更新
  tmp_recompute_lock
Due: none

chore: update recompute lock file timestamp.
  tmp_recompute_lock
Due: none

fix: add trailing newline and exclude service account credentials
  .gitignore
  apps/dashboards/app_alpaca_dashboard.py
  apps/dashboards/styles/__init__.py
  apps/dashboards/styles/dashboard.css
  common/alpaca_order.py
  common/error_notifier.py
  common/google_drive_uploader.py
  common/position_tracker.py
  config/config.yaml
  data/auto_rule_config_enhanced.json
  data/trailing_stops.json
  docs/GOOGLE_DRIVE_SETUP.md
  register_task_scheduler.ps1
  reports/monthly_report_202512.xlsx
  reports/trade_log_202512.csv
  schedulers/runner.py
  scripts/daily_summary_report.py
  scripts/exit_all_positions.py
  scripts/monitor_portfolio.py
  scripts/monthly_detailed_report.py
  scripts/pipeline/__init__.py
  scripts/pipeline/benchmark.py
  scripts/pipeline/cache_pool.py
  scripts/pipeline/context.py
  scripts/pipeline/logging_utils.py
  scripts/pipeline/stage_reporter.py
  scripts/run_all_systems_today.py
  scripts/run_auto_rule_enhanced.py
  scripts/sync_positions_to_tracker.py
  scripts/weekly_summary_report.py
  tmp_recompute_lock
Due: project-rules-check, auto-benchmark

feat: Implement initial Alpaca dashboard with FastAPI backend, Next.js frontend, and signal generation capabilities.
  .agent/workflows/project-reference.md
  .github/copilot-instructions.md
  Start-Dashboard.ps1
  apps/api/main.py
  apps/dashboards/alpaca-next/app/integrated/page.tsx
  apps/dashboards/alpaca-next/app/layout.tsx
  apps/dashboards/alpaca-next/components/progress/ProgressPanel.tsx
  apps/dashboards/alpaca-next/lib/useSignalProgress.ts
  docs/README.md
Due: project-rules-check

feat: Add today's signal CLI log for 2025-12-15 and improve signal computation handling
  apps/api/main.py
  apps/dashboards/alpaca-next/app/integrated/page.tsx
  apps/dashboards/alpaca-next/app/layout.tsx
  apps/dashboards/alpaca-next/components/progress/ProgressPanel.tsx
  docs/input/log_cli_streamlit_20251215.txt
  scripts/run_all_systems_today.py
  tmp_recompute_lock
Due: project-rules-check, auto-benchmark

fix: Refactor VSCode settings for improved organization and clarity
  .vscode/settings.json
Due: none

fix: Refactor VSCode settings for improved organization and platform-specific configurations
  .vscode/settings.json
Due: none

feat: Add monthly detailed report with OneDrive integration
  .gitignore
  account_attrs.txt
  common/google_drive_uploader.py
  common/onedrive_uploader.py
  data/pnl_monitor_state.json
  data/position_tracker.json
  reports/system_performance_dummy_202512.csv
  reports/test_upload.txt
  reports/trade_log_dummy_202512.csv
  reports/trade_metrics_dummy_202512.csv
  scripts/monitor_portfolio.py
  scripts/monthly_detailed_report.py
  scripts/verify_bulk_accuracy.py
  tmp_recompute_lock
Due: project-rules-check, auto-benchmark

feat: スケジューラーをバックグラウンドで起動する機能を追加し、停止方法を明記 fix: tmp_recompute_lockの日付を更新
  start_scheduler.ps1
  tmp_recompute_lock
Due: none

fix: end-of-file formatting in JSON files
  .agent/workflows/advisor_review.md
  CHANGELOG.md
  data/position_entry_dates.json
  data/symbol_system_map.json
  data/trade_history.jsonl
  register_task_scheduler.ps1
  start_scheduler.ps1
  temp_archive/temp_unpack_week2/checklist_week2.pdf
  temp_archive/temp_unpack_week2/ci.Dockerfile.example
  temp_archive/temp_unpack_week2/eyecatch_week2_1280x670.png
  temp_archive/temp_unpack_week2/eyecatch_week2_titleband.png
  temp_archive/temp_unpack_week2/nano_banana_prompts_playwright-ci-30.txt
  temp_archive/temp_unpack_week2/playwright.config.example.ts
  tmp_recompute_lock
Due: none

feat: Initialize VS Code workspace settings for Python development, including formatting, linting, and platform-specific configurations.
  .vscode/settings.json
Due: none

chore(data): daily update 2026-09-06
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260828.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260906.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260830.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260906.json
  apps/dashboards/alpaca-next/data/narrative_20260830.json
  apps/dashboards/alpaca-next/data/narrative_20260906.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260906.json
  apps/dashboards/alpaca-next/data/pipeline_20260906.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260830.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260906.json
  apps/dashboards/alpaca-next/data/today_signals_20260830.json
  apps/dashboards/alpaca-next/data/today_signals_20260906.json
Due: none

chore(data): daily update 2026-09-07
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260831.json
  apps/dashboards/alpaca-next/data/alpaca_snapshot_20260907.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260831.json
  apps/dashboards/alpaca-next/data/dashboard_bundle_20260907.json
  apps/dashboards/alpaca-next/data/narrative_20260831.json
  apps/dashboards/alpaca-next/data/narrative_20260907.json
  apps/dashboards/alpaca-next/data/notify_delivery_20260907.json
  apps/dashboards/alpaca-next/data/pipeline_20260907.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260831.json
  apps/dashboards/alpaca-next/data/polygon_daily_coverage_20260907.json
  apps/dashboards/alpaca-next/data/today_signals_20260831.json
  apps/dashboards/alpaca-next/data/today_signals_20260907.json
Due: none
